body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: white;
  }
  
  .center {
    display: flex;
    margin: 0 auto;
    padding: 20px;
        width: 600px;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color:rgb(73, 164, 199);
  }
  
  .right {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 70vh;
  }
  
  .left {
    background:rgb(73, 164, 199);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 ; 
    width: 20%;
    position: relative;
    height: 70vh;
    font-size: 25px;
    font-style: oblique;
  }
  
  .vertical-line {
    position: absolute;
    height: 75%;
    width: 2px;
    background-color: white;
  }
  
  
  h1 {
    text-align: center;
    color: black;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .txt_field {
    position: relative;
    margin-bottom: 20px;
  }
  
  .txt_field input {
    border: none;
    border-bottom: 2px black;
    outline: none;
    height: 30px;
    font-size: 16px;
  }
  
  .txt_field span::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 2px;
    background: skyblue;
  }
  
  .txt_field span::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 2px;
    background: skyblue;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
  }
  .txt_field label {
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(169, 153, 88);
  }
  
  .txt_field input:valid ~ label,
  .txt_field input:focus ~ label {
    top: -20px;
    font-size: 14px;
    color: skyblue;
  }
  
  input[type="submit"] {
    background:skyblue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background:skyblue;
  }
  
  .signup_link {
    margin-top: 15px;
    text-align: center;
  }
  
  .signup_link a {
    color:skyblue;
    text-decoration: none;
  }